[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2.5"
yahoofinancials = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
yfinance = "*"
pandas-datareader = "*"
scipy = "*"
djangorestframework = "*"
plotly = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
